body{
    margin: 0;
    background: #FAFAFA;
}

.header{
    position: sticky;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bolder;
    width: 100%;
    height: 70px;
    top: 0;
    transition: .3s all;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
   border-bottom:2px #F3F3F4 solid ;
}
.logoit{
    color: #E53528;
}
.header .logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bolder;
}
.head{
    width: 210px;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bolder;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.search-cont form{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .nav-bar{
    position: absolute;
    height: 100%;
    width: 300px;
    right: 0;
   
} */
/* search user */
/* .search-cont{
    position: relative;
  height: 100%;
  width: 80%;
    padding: 0;
    margin: 0;
   
    
} */

.search-cont{
display: flex;
align-items: center;
}

.search-user{
    height: 23px;
    /* border: 1px #F3F3F4 solid; */

    border-radius: 23px;
    transition: .4s;
    background: #EFEFEF;
    width: 90%;
    padding: 0 0 0 10px;

   
    
   
}

.searched_term{
    position: absolute;
    left: 5px;
    top: 80px;
}
 .search-btn{
    background: none;
    height:25px ;
    width: 25px;
    border-radius: 50%;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
 }

/* #search-btn:hover + #search-user {
    right: 0;
}  */

.navigator{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 20%;
    transition: 0.2s ease;
    height: 100%;
}

.navigator ul{
    padding: 0;
    justify-content: space-around;

    list-style: none;
    width: 100%;
    display: flex;
    
    
}

.navigator ul li {

    cursor: pointer;
    color: black;
}

.main-content{
    position: relative;
}




#urated{
    position: absolute;
    right: 0;
}


.sugg-page{
    width: 300px;
    position: sticky;
    top: 102px;
    right: 10%;
}
.react-tiny-popover-container{
    position: fixed;

    z-index: 2;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 10px;
    background-color:white;
    border-radius: 5px;
    width: 150px;

}

.user-pop-over-cont{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    width: 100%; 
    padding: 5px;
}

.search-bar{
    display: flex;
}
.user-pop-over-cont div{
    margin: 6px;
    display: flex;
    gap: 5px;
    cursor: pointer;
    /* margin: 8px 0; */
    flex-direction: row;
    width: 100%; 
    transition: .3s ease;
}

.user-pop-over-cont :hover{
    background: rgb(242, 242, 242);

}

.modal{
    position: absolute;
    top: "50%";
    left: "50%";
    transition: "2s ease";
    transform: "translate(-50%, -50%)";
}

.searched-cont{
    position: absolute;
    background-color: white;
    z-index: 1;
    top:70px;
    min-width: 0;
    font-size: medium;

    border-radius: 5px;
    width: 200px;
    display: flex;
    flex-direction: column;
    
    align-items:center ;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.head button{
    background: none;
    border: none;
}

.menu-btn{
    display: none;
   

}


.fa-bell:hover{

    animation: shake .5s;

}


@keyframes shake{
    0%{
      transform: rotate(45deg);
    }
    10%{
      transform: rotate(0deg)
    }
      
    20%{
      transform: rotate(-45deg)
    }
    30%{
      transform: rotate(0deg)
    }
    40%{
        transform: rotate(45deg);
      }
      50%{
        transform: rotate(0deg)
      }
        
      60%{
        transform: rotate(-45deg)
      }
      70%{
        transform: rotate(0deg)
      }
      80%{
        transform: rotate(45deg);
      }
      90%{
        transform: rotate(0deg)
      }
        
      100%{
        transform: rotate(-45deg)
      }
      
  }


/* media */

@media screen and (max-width:600px){


    .content{
        width: 95%;
    }
    
    .menu-btn{
        display: block;
        
    } 
    .navigator{
        position: absolute;
        bottom: -1000px;
    }

    .new-header{
        align-items:flex-start;
        height: 80px;
        padding: 5px 0;
    }

    .new-navigator{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        height: 40%;
        left: 50%;
        transition: .3s ease;
        transform: translateX(-50%);
        width: 80%;
    }
    .fa-x{
        position: absolute;
        top: 60%;
        right: 5%;
        height: 40%;
        color: #E53528;
    }
}