*{
    margin: 0;
}
.signupP{
    position: relative;
    width: 100%;
    height: 600px;
    top: 0;
}
a{
    text-decoration: none;
}
.succAcc{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    color: rgb(22, 24, 155);
}
.signup-win{
    position: absolute;
    height: 430px;
    width: 300px;
    left: 20%;
    top: 15%;
    border-radius: 5px;
}
.signupP .logo{
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 50%;
    /* height: 15%; */
    top: 10%;
    transform: translateX(-50%);
    font-size: larger;
    font-weight: bolder;
}

.signup-form{
position: absolute;
width: 100%;
/* height: 50%; */
top:100px ;
}
.signup-form input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    margin: 10px;

}
.btn{
    width: 260px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: large;
    font-weight: bolder;
    color: white;
    background-color: rgb(113, 215, 255);
    cursor: pointer;
}
.signupStatus{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    color: red;
}
.signupP .login{
    position: absolute;
    height: 12%;
    width: 100%;
    bottom: 0;
    text-align: center;

}
.logina{
    text-decoration: none;
}