*{
    margin: 0;
}
body{
    margin: 0;
}
.it{
    color: #E53528;
}

.login-container{
    display: flex;
    justify-content: space-evenly;
   
    background-repeat: no-repeat ;

}
.login-bg-image{
    position: absolute;
    width:45%;
    height: 100vh;
    right: 10%;
}
.login-bg-image img{
    width: 100%;
    height: 100%;
}

.invalidMsg{
    position: absolute;
    color: red;
    left: 50%;
    transform: translateX(-50%);

}
a{
    text-decoration: none;
    
}
.login{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 100vh
}
.login-win{
    position: absolute;
    height: 350px;
    z-index: 1;
    width: 300px;
    left: 20%;
    top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.login-win .logo{
    /* position: absolute; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* left: 40%; */
    /* left: 50%;
    transform: translateX(-50%);*/
    top: 10%; 
    font-size: larger;
    font-weight: bolder;
}

.login-form{
/* position: absolute; */
width: 100%;
height: 50%;
top:100px ;
}
.login-form input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    margin: 10px;

}
.btn{
    width: 260px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: large;
    font-weight: bolder;
    color: white;
    background-color: #E53528;
    cursor: pointer;
}

@media (max-width:600px){
    .login-container{
        width: 100%;
        height: 100vh;
    }
    .login-bg-image{
        display: none;
    }
    .login{
        justify-content: center;
        align-items: center;
    }
    .login-form{
        position: static;
    }
    .login-container img{
        display: none;
    }
    .login-win{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .login-win .logo{
        top: 0;
    }

}